/*Estilos Producto, Pecosas, Movimiento */

.modalProducto .modal-header {
    background-color: var(--bg-color-principal);
    color: #fff;
}

.modalProducto .formProducto .modal-body p{
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
    text-align: right;
}

.modalProducto .containerButtonsRegistroProducto input[type="submit"]{
    background-color: var(--bg-color-principal);
    color: #fff;
    width: 50%;
    margin-bottom: 0;
}

.modalProducto .containerButtonsRegistroProducto button{
    width: 50%;
    background-color: #F12A2A;
}


.btnNuevoRegistro{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--bg-color-principal);
    padding: 12px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
}