:root{
    --bg-color-principal: #13252E;
    --bg-color-second: #1f3947;
    --bg-color-background: #E6E6E6;
    --font-principal: "Inter", sans-serif;
}

html{
    box-sizing: border-box;
}

*{
    font-family: var(--font-principal);
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Globales */
h1, h2, h3{
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

.form-select{
    background-color: #E3E3E3;
}

.form-select:focus{
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.btn-nuevo-registro{
    display: flex;
    height: fit-content;
    align-items: center;
    background-color: var(--bg-color-principal);
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}

.colorDisable{
    background-color: #CAC7C7;
}

.btn-nuevo-registro img{
    width: 30px;
}

/* ESTILOS LOGIN */
/* estilos login */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
    border-radius: 80px 30px 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

.login-left {
    background-color: var(--bg-color-principal);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.logo-login {
    width: 80%;
    margin-bottom: 20px;
}

.login-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 60px 50px;
}

.login-right .login-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--bg-color-principal);
}

.login-right h3{
    font-size: 18px;
}

.login-right p,
.login-right form label{
    font-size: 13px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    background-color: #efefef;
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 0 solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
}

input:focus-visible{
    outline: none;
    border-bottom: 2px solid var(--bg-color-principal);
}

.login-container button {
    width: 100%;
    padding: 13px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-color-principal);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.login-container button:hover {
    background-color: var(--bg-color-second);
}

/* ESTILOS MODAL CUI */
.modalCUI .modal-header{
    background-color: var(--bg-color-principal);
    color: #FFF;
    padding: 10px;
}

.modalCUI .modal-body{
    padding: 25px;
}

.modalCUI .modal-body .containerGuiaCUI{
    display: flex;
    gap: 10px;
    align-items: center;
}

.modalCUI .modal-body .containerGuiaCUI p{
    text-align: center;
    font-size: 15px;
}

.modalCUI .modal-body .containerCUI{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modalCUI .modal-body .containerCUI label{
    text-align: center;
    font-weight: 800;
}

.modalCUI .modal-body .containerCUI input{
    background-color: #E9E9E9;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
}

.containerButtonsModals{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0 20px;
}

.containerButtonsModals .btn{
    color: #fff;
}

.containerButtonsModals .btn-submit{
    width: 50%;
    background-color: var(--bg-color-principal);
}

.containerButtonsModals .btn-cancel{
    width: 50%;
    background-color: #F12A2A;
}

/*  ESTILOS HEADER */

.header{
    background: var(--bg-color-principal);
}

.header{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.logo_nombre_sistema{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo_nombre_sistema img{
    width: 180px;
    background-color: #FFF;
}

.header h1{
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

/* estilos informacion usuario login y boton logout */
.container_userDetails_logout{
    display: flex;
    align-items: center;
    gap: 70px;
}

.container_userDetails_logout .userDetails{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_userDetails_logout .userDetails .nombresUsuarioLog{
    color: #FFF;
}

.container_userDetails_logout .userDetails div span .username{
    color: #939393;
}

.container_userDetails_logout .userDetails div .username_rol{
    color: #939393;
    display: flex;
    justify-content: left;
    font-size: 12px;
}

.container_userDetails_logout .userDetails .iconUser{
    height: 35px;
    display: flex;
    position: relative;
}

.container_userDetails_logout .userDetails .iconUser img{
    cursor: pointer;
}

.container_userDetails_logout .iconUser .iconEditProfile{
    background-color: #fff;
    position: absolute;
    width: 15px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.container_userDetails_logout .iconLogout{
    width: 40px;
}

/* Estilos contenedor principal*/

.content{
    display: flex;
    padding: 20px 10px;
    gap: 20px;
    background-color: var(--bg-color-background);
    flex: calc(100vh - 70px);
}

/*     estilos sidebar     */

.sideBar{
    background-color: var(--bg-color-principal);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
}

.main{
    flex: 8;
}

.sideBar .option{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 10px 0 5px;
}

.sideBar .option>:last-child{
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.sideBar  .option p,
.sideBar  .option a{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.sideBar  .option p{
    padding: 10px 0;
    margin-bottom: 0;
}

.sideBar  .option:hover{
    background-color: var(--bg-color-second);
}

/* LOGOUT */
.header .iconLogout{
    cursor: pointer;
}

/* INICIO */
.inicio{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #FFF;
    border-radius: 6px;
}

.inicio div h1,
.inicio div p{
    margin-top: 20px;
    font-weight: 600;
}

.inicio div p{
    color: var(--bg-color-second);
}

.inicio img{
    width: 150px;
}

/* modulo Personas */
.header_modules h1{
    font-weight: 800;
    font-size: 25px;
}

.header_modules .filters_btn_new{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header_modules .filters_btn_new .filters{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    /*padding: 10px;*/
    gap: 10px;
}

.header_modules .filters_btn_new .filters input{
    width: 320px;
    margin: 0;
    margin-left: 10px;
    background-color: #E3E3E3;
}

.header_modules .filters_btn_new .filters .container_clear_filters{
    background-color: var(--bg-color-principal);
    padding: 7px 15px;
    cursor: pointer;
}

/* ESTILOS TABLA */
.containerTable{
    margin-top: 10px;
}

.containerTable table{
    width: 100%;
    border-spacing: 0;
}

.containerTable table thead tr{
    background-color: #fff;
    font-size: 14px;
    text-align: center;
}

.containerTable table thead tr th{
    font-weight: 700;
    padding: 10px 0;
}

.containerTable tbody{
    font-weight: 500;
}

.containerTable table tbody tr{
    text-align: center;
    font-size: 13px;
}

.containerTable table tbody tr td{
    padding: 5px;
}

.containerTable table tbody tr td:first-child{
    font-weight: 700;
    color: red;
}

.containerTable table tbody tr:nth-child(even){
    background-color: #fff;
}

.actions{
    display: grid;
    place-items: center;
}

.actions .action{
    cursor: pointer;
}

.containerTable table tr td:first-child{
    width: 100px;
}

.estado{
    display: block;
    padding: 5px 3px;
    border-radius: 5px;
}

.active{
    background-color: #33cb67;
    border: 1px solid var(--bg-color-principal);
}

.inactive{
    background-color: #fa7575;
    border: 1px solid #d91212;
}

.pendingResolution{
    background-color: #D9C13B;
    border: 1px solid #62642f;
}

.vencido{
    background-color: #FAFF6A;
    border: 1px solid #85883c;
}

/* Estilos generales modales */
.modal .modal-header{
    background-color: var(--bg-color-principal);
    color: #fff;
}

.modal .modal-body input{
    margin: 0;
}

.modal .modal-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal .two-column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.modal .modal-body p{
    text-align: right;
    font-weight: 700;
    font-size: 13px;
}

.modal .containerButtonsModal{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.modal .containerButtonsModal input[type="submit"]{
    background-color: var(--bg-color-principal);
    color: #fff;
    width: 50%;
    margin-bottom: 0;
}

.modal .containerButtonsModal button{
    width: 50%;
    background-color: #F12A2A;
}


/* Estilos tabla asociaciones, productos */
.containerTable .tableAsociaciones .tableProductos .tableMovimientos tr td:nth-child(6){
    width: 200px;
}

.containerTable .tableAsociaciones .tableProductos .tableMovimientos tr td:nth-child(7){
    width: 100px;
}

.containerTable .tableAsociaciones .tableProductos .tableMovimientos tr td:nth-child(9){
    width: 210px;
}

.containerTable .tableAsociaciones .tableProductos .tableMovimientos tr td:last-child{
    width: 130px;
}

.actions_asociaciones{
    grid-template-columns: repeat(3, 1fr);
}

.actions_asociaciones .action_habilitar{
    grid-column: 3/4;

}

<<<<<<< HEAD
.actions_productos{
    grid-template-columns: repeat(2, 1fr);
}

.actions_productos .action_habilitar{
    grid-column: 3/4;

}

/* Estilos tabla registro pecosa */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }
=======
/* RECONOCIMIENTO */

/* modal registrar reconocimiento */
.header_container_data{
    padding: 10px 0;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
}
.header_container_data h2{
    font-size: 17px;
    font-weight: bold;
}

.modalReconocimiento{
    width: 870px;
    min-width: 870px;
}
>>>>>>> 982b515273e029a05b869a8cace2c6195bd171e9
